.logo-container {
  position: relative;
  display: inline-block;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Button styling */
.dropdown-button {
  align-items: center;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 20px;
}
/* Icon transition */
.icon {
  margin-left: 5px;
  transition: transform 0.2s;
}

/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 160px;
  background: black;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  transition: opacity 0.2s, transform 0.2s;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Dropdown item */
.dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.dropdown-item:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}
